:root{
    --primary-text-color:#434455;
    --primary-title-color: #2E2F42;
    --primary-white-color: #fff;
    --second-bg-color: #F4F4FD;
    --accent-color:#4D5AE5;
    --secondary-accent-color:#404BBF;
}
body{ 
    background-color: #fff;
    color: #434455;
}
/* main title color 2E2F42*/
/* main text color #434455*/
/* second background color  #F4F4FD*/
/* accent color (hover/focus)  #4D5AE5*/

/* ------------header and footer styles--------------- */
.site-nav .link{
    color: #2E2F42;
}
.site-nav .link:hover,
.site-nav .link:focus{
    color:var(--accent-color);
}

/* --------------main part styles---------- */
.section-title{

    color: var(--primary-title-color);
}
.title {
    color:var(--primary-title-color);
}
/* hero section */
.hero {
    background-color: #2E2F42;;
}
.button {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: 0;
}
.button:hover,
.buton:focus {
    color: var(--primary-white-color);
    background-color: var(--secondary-accent-color);


}
/*------teammembers section------------- */

/* PORTFOLIO page */


.button.btn-secondary {
    color: var(--accent-color);
    background-color: var(--second-bg-color);
    border: 1px solid #E7E9FC;

}


